/* *********commun*********************** */

html {
    height: 100%;
    width: 100%;
}

body {
    /* width: 100%; */
    height: 100%;
    position: relative;
}

.bouton {
    width: 10%;
    height: 50px;
    text-align: center;
    margin: 2%;
    padding-top: 1%;
    border: solid;
    color: black;
    text-decoration: none;
    font-size: large;
    background-color: rgb(255, 255, 166);
    border-radius: 5%;
    box-shadow: 10px 5px 5px ;
}

.bouton:hover {
    text-decoration: underline;
    color: rgb(241, 134, 53);
}

/* ************************************** */


/* ********** en-tete ********************* */
header {
    width: 100%;
    height: 20%;
    background-color: rgb(80, 147, 138);
    color: black;
    display: flex;
    justify-content: space-between;
   
}

#titre {
    display: flex;
    justify-content: space-around;
}

h1 {
    text-align: center;
    margin: 7%;
}

/* le bouton est dans commun */


a:hover {
    text-decoration: underline;
    color: rgb(241, 134, 53);  
}
/* **************************************** */



/* ******************* corp *************** */

#corps {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description {
    background-color: rgb(238, 238, 238);
    width: 50%;
    height: 30%;
    border: solid;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
}

.inscription {
    display: flex;
    justify-content: space-around;
}

#message_erreur {
    text-align: center;
}

.success {
    color: green;
    font-size: xx-large;
}

.danger {
    color: red;
    font-size: xx-large;  
}

.info {
    color: blue;
    font-size: xx-large;  
}

/* **************************************** */



/* ****************** pied de page ******** */
footer {
    padding-top: 3%;
    text-align: center;
    width: 100%;
    height: 10%;
    color: black;
    background-color: rgb(80, 147, 138);
    position: absolute;
    /* bottom: 0; */
}
/* **************************************** */

/* ****************formulaire************** */

.formulaire {
    background-color: rgb(238, 238, 238);
    display: flex;
    flex-direction: column;
    border: solid;
    border-radius: 5px;
    margin: 10% 25% 5% 25%;
    padding: 2%;
}

input {
    font-size: large;
}

label {
    font-size: xx-large;
}

/* **************************************** */

/* *****************onglets**************** */
#onglets {
    float: left;
    margin: 150px 0px 0px 500px; 
}

.ongletvert {
    background-color: rgb(80, 147, 138);
    padding: 5px;

}

.ongletblanc {
    padding: 5px;
}

.ongletvert a {
    text-decoration: none;
    color: black;
}

.ongletblanc a {
    text-decoration: none;
    color: black;
}
/* **************************************** */

/* **************menu deroulant************ */

    
.boutonmenuprincipal {
    width: 70px;
    background-color: rgb(255, 255, 166);
    color: black;
    border: none;
    padding:20px;
    margin:20px 20px 0px 20px;
    border: solid;
    text-align: center;
    box-shadow: 10px 5px 5px ;
    }
    .boutonmenuprincipal:hover {
    background-color: rgb(241, 134, 53);
    }
    .dropdown {
    position: relative;
    display: inline-block;
    }
    .dropdown-child {
    display: none;
    background-color: rgb(255, 255, 166);
    /* min-width: 50px; */
    }

    .dropdown-child :hover {
        background-color: rgb(241, 134, 53); 
    }
    .dropdown-child a {
    color: black;
    padding: 20px;
    text-decoration: none;
    display: block;
    }
    .dropdown:hover .dropdown-child {
    display: block;
    }
/* **************************************** */

/* ****************tableaux**************** */
#Contenu  {
    background-color: rgb(238, 238, 238);
    display: flex;
    border: solid;
    border-radius: 5px;
    margin: 10% 25% 5% 25%;
    padding: 2%;
    justify-content: space-around;
 }


 .table  {
    display: flex;
    text-align: center;
    
 }

 .table1 td {
    display: flex; 
    padding: 20px;
 }

 .table2 td {
    display: flex;
    padding: 20px;
 }

 .modif a { 
    display: flex;
    padding: 20px;
 }

 .liste {
    /* border-spacing: 100px; */
    border-width:1px; 
    border-style:solid; 
    border-color:black;
    /* width:50%; */
    border-collapse:collapse
    
 }

 .liste td {
    padding: 10px;
    border-width:1px;
    border-style:solid; 
    border-color:grey;
    /* width:50%; */
    vertical-align:middle;
    text-align: center;
 }

 .liste1 {
    font-weight: bold;
 }

 .liste2 {
    
 }
/* **************************************** */



/* ****************responsive ************* */

/* **************************************** */