#contenu
{
    marge-gauche : 24 px ;
    marge-droite : 24 px ;
}

#onglets ul
{
    police : normale 14px arial, sans, sans-serif ;
    -type de style de liste : aucun ;
    bordure inférieure : 1 pixel gris uni ;
    marge : 0 ;
    padding-gauche : 0 ;
    rembourrage-droite : 0 ;
    rembourrage en bas : 26 px ;
}

#tabs ul li
{
    affichage : en ligne ;
    flotteur : gauche ;
    hauteur : 24px ;
    min-largeur : 80 px ;
    text-align:center;
    rembourrage : 0 ;
    marge : 1px 0px 0px 0px ;
    bordure : 1 pixel gris uni ;
}

#tabs ul li.selected
{
    bordure inférieure : 1px solide #fff ;
    couleur de fond : #fff ;
}


#tabs ul li a
{
    flotteur : gauche ;
    couleur : #666 ;
    décoration de texte : aucune ;
    rembourrage : 4px ;
    text-align:center;
    background-color:#eee;
    min-largeur : 80 px ;
    bordure inférieure : 1 pixel gris uni ;
}

#tabs ul li a.selected
{
    couleur : #000 ;
    font-weight:gras;
    couleur de fond : #fff ;
    bordure inférieure : 1px solide #fff ;
}

#tabs ul li a:hover
{
    couleur : #000 ;
    font-weight:gras;
    couleur de fond : #fff ;
}

#récipient
{
    fond : blanc ;
    bordure : 1 pixel gris uni ;
    bordure supérieure : aucune ;
    hauteur : 350 px ;
    largeur : 100 % ;
    rembourrage : 0 ;
    marge : 0 ;
    gauche : 0 ;
    haut : 0 ;	
}

iframe
{
    bordure : aucune ;
    marge : 0 ;
    rembourrage : 0 ;
}